<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CivilFilingWSPortBinding" messageEncoding="Mtom" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint binding="basicHttpBinding" bindingConfiguration="CivilFilingWSPortBinding"
                contract="CivilFilingWS" name="CivilFilingWSPortBinding_CivilFilingWS" />
        </client>
    </system.serviceModel>
</configuration>