<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="productionEndPoint" value="https://dpprod.njcourts.gov:2045/civilFilingWS_p"/>
    <add key="productionUsername" value="F00000495"/>
    <add key="productionPwd" value="Fein123@"/>
    <add key="testEndPoint" value="https://dptng.njcourts.gov:2045/civilFilingWS_t"/>
    <add key="testUsername" value="888888029-FAKE"/>
    <add key="testPwd" value="P@ssword"/>
    <!-- mode is 'Test' -> testEndPoint and mode is 'Production' -> productionEndpoint-->
    <add key="mode" value="Test"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CivilFilingWSPortBinding" sendTimeout="00:03:00">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="CivilFilingWSService_CivilFilingWSPort" sendTimeout="00:03:00"
          messageEncoding="Mtom">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://dptng.njcourts.gov:2045/civilFilingWS_t"
          binding="basicHttpBinding"
          bindingConfiguration="CivilFilingWSService_CivilFilingWSPort"
          contract="CivilFilingServiceReference.CivilFilingWS"
          name="CivilFilingWSPort">
        <headers>
          <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken Id="unt_20">
              <wsse:Username>888888005</wsse:Username>
              <wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">P@ssword</wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
    </client>

    <diagnostics>
      <messageLogging
      logEntireMessage="true"
      logMalformedMessages="false"
      logMessagesAtServiceLevel="false"
      logMessagesAtTransportLevel="true"
      maxMessagesToLog="2147483647"
      maxSizeOfMessageToLog="2147483647">
      </messageLogging>
    </diagnostics>
  </system.serviceModel>

  <!--EDITS  https://rashimuddin.wordpress.com/2012/05/11/how-to-log-and-trace-wcf-soap-messages/-->
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="ServiceModelMessageLoggingListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\Users\craig\source\repos\civilfiling_latest\Traces\Traces.Request-Response.Messages.xml" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>

</configuration>
