<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CivilFilingWSPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="CivilFilingWSPortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://172.16.248.34:2045/civilFilingWS_t"
                binding="basicHttpBinding" bindingConfiguration="CivilFilingWSPortBinding"
                contract="CivilFilingServiceReference.CivilFilingWS" name="CivilFilingWSPort" />
        </client>
    </system.serviceModel>
</configuration>